* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #EFBC9B 16.62%, #FBF3D5 85.61%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo-container {
    width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #9CAFAA;
}

#new-task {
    font-size: 30px;
    margin-bottom: 10px; /* Espaçamento abaixo do campo de entrada */
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha itens verticalmente no centro */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-item-active{
        border: 2px solid #FFF;
}

.task-item.completed {
    text-decoration: line-through;
    color: gray;
}

.buttons {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
}

.buttons button {
    font-size: 16px; /* Tamanho da fonte dos botões */
}

h1 {
    font-size: 50px;
    text-align: center; /* Centraliza o texto do título */
}

